p {
  font-family: 'Roboto', sans-serif;
}
.title:hover {
  text-decoration: underline;
}
.price {
  text-decoration:line-through;
}
.sale {
  color: red;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: black;
}
.button {
  border: 1px black solid;
  padding: 1em;
  position: relative;
  top: 1em;
}
.button:hover {
  background-color: lightgrey;
}

